body {
  background-color: #fff;
}

.container.main{
    max-width: 1024px;
    width: 100%;
    padding: 0 30px 25px;
}

.container {
    max-width: 933px;
    width: 100%;
    background-color: #efefef;
}
.container.form{
    height: 312px;
    padding: 40px 30px
}

p a.advanced-search{
    color: #dc3545;
    font-weight: bold
}
p a.filter{
    color: #4d4d4d;

}
p a:hover{
    text-decoration: none;
    color: #4d4d4d
}

li.nav-item:active,
li.nav-item:visited{
    border-bottom: 3px solid #dc3545
}
img.car{
    width: 4em  
}
li a{
    font-size: 1.1em;
    line-height: 1.5em;
    color: #828080
}
li a:hover {
    color:unset;
}

li:active span, li:visited span, li:hover span{
    color:#dc3545
}
li a span{
    font-size: 1.3em;
}

button.btn-outline-warning{
    padding: 5px 30px;
    font-weight: bold;
    border: 2px solid;
    font-size: .9em
}
button.btn-outline-warning:hover{
    color: #fff
}

button.btn-danger{
    padding: 0 80px;
    border-radius: 0;
    font-weight: bold;
    font-size: .9em
}
a.filter:hover {
    color: #000
}

div.form{
    background-color: #fff
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #dc3545
}
.custom-control-label::before{
    background-color: #ffffff;
    border: 1px solid #b7b6b6;
}
